/*Definición de variables globales, para decoración y evitar la repetición*/
:root {
    --color_principal: #0545c7;
    --color_secundario: #D5DDE3;
    --fuente-html: 'Roboto Mono', monospace;
    --color_terciario: #3E3E5C;
    --color-span-inicio: #25bcd0e1;
    --letras_blancas: #FFFFFF;
    --bold: 900;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-html);
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*Estilos del header*/

.nav-menu-items, .a-logo-header, .especialidades-items {
    text-decoration: none;
    color: var(--letras_blancas);
}

header {
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color_terciario);
    height: auto;
    color: var(--letras_blancas);
}

.img-logo-header, .logo-footer {
    height: 75px;
    width: 125px;
}

.logo-header {
    display: flex;
    align-items: center;
    color: var(--letras_blancas);
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.nav-menu-items:hover,
.especialidades-items:hover {
    color: white;
    text-decoration: underline;
}

#sign-in {
    padding: 7px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    border: none;
    transition: transform 0.4s ease;
    color: var(--letras_blancas);
    background-color: #0545c7;
}

#sign-in:hover {
    transform: scale(1.035);
    background-color: rgb(117, 255, 239);
}

/*Estilos de la sección inicio*/

#Inicio {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: var(--color_principal);
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 50px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding-top: 75px;
    width: 40%;
}

.services {
    text-decoration: none;
    color: var(--letras_blancas);
}

.hero-buttons {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-left: 60px;
}

#date {
    transition: 0.6s;
}

#date:hover {
    color: blue;
}

#date, .services {
    padding: 8px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
}

#date {
    border: none;
    transition: transform 0.4s ease;
}

#date:hover {
    transform: scale(1.025);
}

.services {
    border: solid var(--color_secundario);
    transition: transform 0.4s ease;
}

.services:hover {
    background-color: rgb(133, 129, 124);
    transform: scale(1.025);
}

.hero-items  {
    display: flex;
    gap: 20px;
    margin-left: 50px;
}

.hero-title, .hero-badge, .stat-num, .legal-list {
    color: var(--color_secundario);
}

.hero-title {
    text-align:center ;
}

.hero-title-span {
    color: var(--color-span-inicio);
}

.hero-subtitle-text {
    text-align: center;
}

.hero-subtitle-text, .stat-label {
    color: var(--letras_blancas);
}

.hero-badge {
    text-align: center;
    font-weight: var(--bold);
}

.stat-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.stat-num {
    font-weight: var(--bold);
}

/*DIseño sección nosotros*/

#Nosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 200px;
    gap: 50px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 200px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 250px;
    max-height: 500px;
    padding: 20px;
    text-align: left;
    border-top: 8px solid rgba(93, 183, 238, 0.757);
    border-left: 2px solid #3E3E5C;
    border-bottom: 2px solid #3E3E5C;
    border-right: 2px solid #3E3E5C;
    border-radius: 8px;
    background-color: rgb(184, 237, 219);
    transition: transform 0.5s ease;
}

.cards:hover {
    transform: scale(1.050);
}

.section-nosotros-text {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.valores-items {
    list-style-type: "✨";
}

.section-title-nosotros {
    text-align: center;
}

.nosotros-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 75px;
}

.section-nosotros-tags {
    margin-top: 20px;
    padding-left: 75px;
    display: flex;
    gap: 25px;
}

.tags {
    background-color: rgb(44, 186, 44);
    padding: 5px;
    border-radius: 8px;
    color: var(--letras_blancas);
    transition: transform 0.6s ease box-shadow 0.6s ease;
}

.tags:hover {
    transform: translate(-3px, -4px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.section-nosotros-cards {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    justify-content: space-around;
}

.cards-img {
    width: 100px;
    height: 150px;
}

/*Diseño sección servicios*/
#Servicios {
    background-color: var(--color_terciario);
    padding-bottom: 20px;
    padding-top: 20px;
}

.container-servicios, .servicios-header {
    display: flex;  
    flex-direction: column;
}

.servicios-header {
    gap: 30px;
    color: var(--letras_blancas);
}

.container-servicios {
    gap: 70px;
}

.tag-servicios {
    background-color: rgb(25, 146, 146);
    padding: 8px;
    width: fit-content;
    margin: auto;
    border-radius: 8px;
}

.section-card {
    background-color:rgb(42, 102, 131);
    border-radius: 8px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: var(--letras_blancas);
    transition: transform 0.3s ease, box-shadow 0.4s ease;
}

.section-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.section-card-img {
    width: 150px;
    height: 150px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.carrousel-servicios {
    display: flex;
    overflow-x: auto;
}

.carrousel-servicios::-webkit-scrollbar {
    display: none;
}

.group-section-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 45s infinite linear;
    padding-right: 1em;
}

.carrousel-servicios:hover .group-section-card {
    animation-play-state: paused;
    cursor: pointer;
}

/*Animación para el carrousel*/

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

.container-servicios {
    text-align: center;
}

.container-button {
    text-align: center;
    margin-top: 30px;
    color: var(--letras_blancas);

}

.section-button {
    text-decoration: none;
    color: var(--letras_blancas);
    margin-top: 10px;
}


/*Diseño sección conctactos*/

#Contacto {
    padding-top: 120px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 120px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-items {
    padding-top: 20px;
}

#nomber, #number, #mail, #options, #text-msg, #submit-button {
    padding: 8px;
    font-family: var(--fuente-html);
    font-size: 14px;
}

#nomber, #number {
    width: 320px;
}

#text-msg {
    height: 100px;
}

.button-form {
    padding-top: 15px;
}

.container-contacto {
    display: flex;
    justify-content: space-evenly;
}

.title-form {
    text-align: center;
}

.contact-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 300px;
    max-height: 300px;
    border: solid var(--color_principal);
    margin: 15px;
    border-radius: 8px;
    background-color: rgb(181, 255, 230);
    transition: transform 0.3s ease;
}

.contact-card:hover {
    transform: scale(1.025);
}

.number-name {
    display: flex;
    gap: 20px;
}

.nomber-container, .number-container {
    display: flex;
    flex-direction: column;
}

.form-items {
    display: flex;
    flex-direction: column;
}

.button-form {
    display: grid;
    grid-template-columns: 1fr;
}

.emergency-card {
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    margin-top: 70px;
    padding: 10px;
    border: solid orange;
    border-radius: 8px;
    color: var(--letras_blancas);
    background-color: orange;
    transition: transform 0.4s ease;
}

.emergency-card:hover {
    transform: scale(1.025);
}

.social-media, .emergency-card {
    display: flex;
    justify-content: flex-start;
}

.social-media {
    padding-top: 30px;
    transition: transform 0.4s ease;
}

.facebook-img:hover,
.instagram-img:hover,
.whatsapp-img:hover,
.youtube-img:hover,
.tiktok-img:hover {
    transform: scale(1.025);
}

/*Footer*/

footer {
    background-color: var(--color_terciario);
    padding-top: 50px;
}

.footer-info {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 75px;
}

.logo-header {
    display: flex;
}

.logo-slogan-footer {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    text-align: left;
    width: 400px;
    gap: 20px;
    color: var(--letras_blancas);
}

.featured-services, .legal-framework {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.especialidades-list, .legal-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-bottom {
    padding-left: 250px;
    color: var(--letras_blancas);
}

/*Modal iniciar sesión/registrar*/

#sign-in-registrer-forms {
    width: 500px;
    height: 60%;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 40%;
    border: none
}

.container-form-sign-in {
    display: block;
}

.container-form-registrer {
    display: none; /*Este formulario estará oculto por defecto*/
}

.container-form-sign-in form, .container-form-registrer form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20%;
}

.container-title h2{
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.container-title ion-icon {
    font-size: 32px;
    display: block;
}

.container-title ion-icon:hover {
    color: red;
}

#close-modal {
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background: none;
}

.social-networks {
    font-size: 20px;
    display: flex;
    gap: 14px;
    margin-bottom: 25px;
}

.social-networks ion-icon {
    border: 1px solid #C9CCCB;
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
    transform: transform 0.5s ease;
}

.social-networks ion-icon:hover {
    transform: scale(1.025);
}

.container-form-sign-in span, .container-form-registrer span {
    font-size: 12px;
    margin-bottom: 15px;
}

.container-input {
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 15px;
    background-color: #EEEEEE;
}

.container-input input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: inherit; /*Color heredado de su padre*/
}

.container-form-sign-in a {
    color: black;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.container-form-sign-in a:hover {
    color: var(--color_principal);
}

#btn-sign-in, #btn-sign-up {
    width: 170px;
    height: 45px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #3AB397;
    color: white;
}

.change-forms {
    display: flex;
    gap: 5px;
}

#btn-registrer, #btn-log-in {
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

#btn-registrer:hover, 
#btn-log-in:hover {
    color: var(--color_principal);
}